body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  width: 90%;
  margin: auto;
}

.App h2 {
  color: gray;
}

.help-block {
  color: red !important;
}

.invalid input {
  background: #f2dede;
}
